/* Responsive layout for smaller screens (phone) */
@media (max-width: 768px) {
    #itemScreen, #groupScreen {
        flex-direction: column;
        /* text-align: center; */
        /* display: none; */
        overflow-y: auto;
    }

    #itemScreen .leftContainer,
    #itemScreen .rightContainer {
        position: static;
        transform: translateX(2.5%);
        width: 90%;
        height: 80%;
    }

    #groupScreen .leftContainer,
    #groupScreen .rightContainer {
        position: static;
        transform: translateX(0%);
        width: 90%;
    }

    #case {
        top: 23%;
    }

    .dropdown-content {
        max-height: 50px;
    }
}