body {
  padding: 0;
  margin: 2vw 0 0 0;
  -webkit-text-size-adjust: 100%;
  font-family: Arial, sans-serif;
}

.nameInputs {
  position: absolute;
  width: 25vw;
  border-color: black;
  border-radius: 5px;
}

#nameInput1 {
  left: 10vw;
}

#nameInput2 {
  right: 10vw;
}

#nameInput3 {
  left: 10vw;
  top: 16vw;
}

#nameInput4 {
  right: 10vw;
  top: 16vw;
}

.lines {
  position: absolute;
  width: 25%;
  height: 5px;
  left: 50%;
  top: 11vw;
}

#line1 {
  transform: translateX(-50%) rotate(-35deg);
}

#line2 {
  transform: translateX(-50%) rotate(35deg);
}

#scores {
  position: absolute;
  width: 100%;
  top: 25vw;
  bottom: 25vh;
  overflow: auto;
}

#scoreTeam1 {
  position: absolute;
  left: 10vw;
  width: 25vw;
  text-align: center;
}

#scoreTeam2 {
  position: absolute;
  right: 10vw;
  width: 25vw;
  text-align: center;
}

#logo {
  position: absolute;
  left: 50%;
  top: calc(50% - 10vh);
  transform: translate(-50%, -50%);
  width: 25%;
  height: auto;
  border-radius: 10px;
}

.topButton {
  position: absolute;
  top: -25px;
  height: 25px;
  border: none;
  border-radius: 10px 10px 0 0;
  color: white;
}

.topButton:active {
  opacity: 50%;
}

#endButton {
  right: 0;
}

#backButton {
  left: 0;
}

#inputRound {
  position: absolute;
  bottom: 0;
  height: 20vh;
  min-height: 170px;
  width: 100%;
}

table, td, th {
  border: 2px solid;
}

table {
  position: absolute;
  border-collapse: collapse;
  text-align: center;
  top: 5vw;
  left: 25%;
  transform: translateX(-50%);
  /*background-color: white;*/
}

#inputPointsDiv {
  position: absolute;
  top: 5vw;
  right: 25%;
  transform: translateX(50%);
}

#inputPoints {
  width: 10vw;
  border-radius: 0 10px 10px 0;
  border: none;
  padding: 5px;
}

#teamSwitch {
  border-radius: 10px 0 0 10px;
  border: none;
  padding: 5px;
  background-color: white;
}

#taipanWonLabel {
  position: absolute;
  top: 35%;
  right: 25%;
  transform: translateX(50%);
}

#addButton {
  position: absolute;
  bottom: 5vw;
  right: 25%;
  transform: translateX(50%);
  font-size: 200%;
  font-weight: bold;
  background-color: #ff4500; /* OrangeRed */
  color: white;
  border: none;
  border-radius: 5px;
}

#gameDone {
  display: none;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: calc(50% - 10vh);
  transform: translate(-50%, -50%);
  width: 70vw;
  height: 35vw;
  font-size: 200%;
  background-color: #dd612e; /*orang-brown*/
  /*border: 5px solid;*/
  border-radius: 10px;
  text-align: center;
  padding-top: 15px;
  color: white;
}

#winningTeam {
  display: inline-block;
}

#newGame {
  font-size: 50%;
  font-weight: bold;
  background-color: #ff4500; /* OrangeRed */
  color: white;
  border: 1px solid;
  border-color: #ffa5a5;
  border-radius: 5px;
  padding: 5px;
}

#finalScore {
  display: inline-block;
  font-size: 75%;
}