body {
  padding: 0;
  margin: 2vw 0 0 0;
}



#names {
  position: absolute;
  /*top: 25vh;*/
}

.nameInputs {
  position: absolute;
  width: 25vw;
  border-color: black;
}

#nameInput1 {
  left: 10vw;
  border-color: green;
  color: red;
}

#nameInput2 {
  right: 10vw;
  color: blue;
}

#nameInput3 {
  left: 10vw;
  top: 16vw;
  color: blue;
}

#nameInput4 {
  right: 10vw;
  top: 16vw;
  color: red;
}



#scores {
  position: absolute;
  /*height: 60vh;*/
  /*min-height: 180px;*/
  width: 100%;
  /*height: 300px;*/
  /*background-color: green;*/
  /*z-index: 200;*/
  /*top: 30vw;*/
  top: 25vw;
  bottom: 25vh;
  overflow: auto;
}

#scoreTeam1 {
  position: absolute;
  /*top: 30vw;*/
  left: 10vw;
  width: 25vw;
  /*background-color: green;*/
  text-align: center;
  color: blue;
  /*padding-bottom: 20vh;*/
}

#scoreTeam2 {
  position: absolute;
  /*top: 30vw;*/
  right: 10vw;
  width: 25vw;
  /*background-color: green;*/
  text-align: center;
  color: red;
  /*margin-bottom: 20vh;*/
}

#endButton {
  position: absolute;
  top: -25px;
  right: 2%;
  height: 25px;
}

/*#emptySpace {
  height: 20vh;
  min-height: 170px;
  background-color: green;
}*/



#inputRound {
  position: absolute;
  /*display: sticky;*/
  bottom: 0;
  /*top: 80vh;*/
  height: 20vh;
  min-height: 170px;
  width: 100%;
  background-color: grey;
}


table, td, th {
  /*left: 25%;
  transform: translateX(-50%);*/
  border: 1px solid;
}

table {
  position: absolute;
  border-collapse: collapse;
  text-align: center;
  top: 5vw;
  left: 25%;
  transform: translateX(-50%);
}

#inputPointsDiv {
  position: absolute;
  top: 5vw;
  right: 25%;
  transform: translateX(50%);
}

#inputPoints {
  width: 10vw;
}

#teamSwitch {
  color: blue;
}

#taipanWonLabel{
  position: absolute;
  top: 35%;
  right: 25%;
  transform: translateX(50%);
}

#addButton {
  position: absolute;
  bottom: 5vw;
  right: 25%;
  transform: translateX(50%);
  font-size: 200%;
}